workflows/2025-09-05T18-11-39-545Z.json

{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "API GOOGLE": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-26T16:09:57.087Z",
  "id": "ODAujHlo8MRcr2kd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de IA con memoria y tools",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "241d0e1f-b0d9-4815-9567-3b63c760156d",
      "name": "When chat message received",
      "webhookId": "10c245ec-4cb1-4afa-80a5-96208cf42957"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C54oYvfLBqW_x5doKCjGjRPImDMf77ba6gDJjib_OUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C54oYvfLBqW_x5doKCjGjRPImDMf77ba6gDJjib_OUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Busqueda": "={{ $json.chatInput }}"
          },
          "matchingColumns": [
            "Busqueda"
          ],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c5675709-19b5-464b-a50c-19adb7e26a2f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nE8CfgH46CtfeLtK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente que me ayuda e google co la herramienta API GOOGLE todasl las url de la busqueda que te pida por chat el usuario. Siempre contestaras unicamete el listado de urls que venga de la herramienta API GOOGLE "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "35c970d1-0d40-4ebd-b2a6-f995d8f8bcf6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "4c421581-c62b-462c-a4b4-c0b8eaff3c29",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jPyy4mQXUf8ytyLI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "9727b7fc-13fb-49ba-9607-99773250a04e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Esta herramienta busca en google usando los términos que indica el usuario",
        "url": "https://real-time-web-search.p.rapidapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "25471e6d61msh0213ae6edd2349dp18046fjsn6d28abdc5c21"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        576,
        208
      ],
      "id": "814f9ae4-e8c7-40f9-a503-a103b904bce5",
      "name": "API GOOGLE"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"nombre\": \"Nombre de la web\",\n\t\"url\": [\"https://miweb.com\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        688,
        165
      ],
      "id": "09861546-91d8-4ea9-93a6-6b9246085632",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1C54oYvfLBqW_x5doKCjGjRPImDMf77ba6gDJjib_OUI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1C54oYvfLBqW_x5doKCjGjRPImDMf77ba6gDJjib_OUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Busqueda"
          ],
          "schema": [
            {
              "id": "Busqueda",
              "displayName": "Busqueda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta",
              "displayName": "Respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        0
      ],
      "id": "bde55fcb-5298-42fe-8b0c-e88b3e47f491",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nE8CfgH46CtfeLtK",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-26T16:09:57.093Z",
      "updatedAt": "2025-08-26T16:09:57.093Z",
      "role": "workflow:owner",
      "workflowId": "ODAujHlo8MRcr2kd",
      "projectId": "wxi7Ju6brgdObMVS"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-21T11:25:19.532Z",
      "updatedAt": "2025-08-21T11:25:19.532Z",
      "id": "TGCYRPUd9n8yo2cB",
      "name": "📒clase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-26T18:10:36.000Z",
  "versionId": "4ae59c1a-abb5-4807-94ea-dec074490c0d"
}