workflows/2025-09-05T18-11-38-863Z.json

{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-27T11:15:51.228Z",
  "id": "Fiqhs8SBxdOFxYhj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Prueba Rag creación",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1HORSNzXhbnfC665zjtYSswaD4AcQVyN8",
          "mode": "list",
          "cachedResultName": "RAG UDIA",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HORSNzXhbnfC665zjtYSswaD4AcQVyN8"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "2d050311-a00c-4641-a384-56632a3fb886",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qqL6wnvAaepu2bpc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "ca388960-f2f3-4504-8dab-57efb240432b",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qqL6wnvAaepu2bpc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "1d445c11-f100-4277-aa35-4e4c86ba87d5",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "MfcA1FNPBDJY6HnI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "id": "c00adf0f-40e1-47b9-b0d4-0f649a01418f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 20,
        "options": {}
      },
      "id": "1e5256db-474d-4ad2-805c-20a3340ea4ea",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        368
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragudia",
          "mode": "list",
          "cachedResultName": "ragudia"
        },
        "options": {
          "pineconeNamespace": "udia_rag"
        }
      },
      "id": "cb16ab77-aff6-449b-9117-c118a3141923",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "credentials": {
        "pineconeApi": {
          "id": "51TPNpKjIPzvoZw9",
          "name": "PineconeApi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T11:15:51.235Z",
      "updatedAt": "2025-08-27T11:15:51.235Z",
      "role": "workflow:owner",
      "workflowId": "Fiqhs8SBxdOFxYhj",
      "projectId": "wxi7Ju6brgdObMVS"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-21T11:25:19.532Z",
      "updatedAt": "2025-08-21T11:25:19.532Z",
      "id": "TGCYRPUd9n8yo2cB",
      "name": "📒clase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-28T08:25:16.000Z",
  "versionId": "93dc9be5-e52e-4bed-ae40-dc61703d14c6"
}