workflows/2025-09-05T18-11-45-135Z.json

{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Creo un post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargo la imagen": {
      "main": [
        [
          {
            "node": "Subo la imagen a Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creo un post": {
      "main": [
        [
          {
            "node": "Descargo la imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subo la imagen a Wordpress": {
      "main": [
        [
          {
            "node": "Asigno imagen a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T08:51:33.440Z",
  "id": "nBvIUoa7WE3ByBBw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Prueba publicar post en wordpress+imagen",
  "nodes": [
    {
      "parameters": {},
      "id": "611c29f7-d693-4a71-8f60-4b105e4e35e9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://udia.es/_next/image?url=%2Fassets%2Fudia-2.webp&w=96&q=75",
        "options": {}
      },
      "id": "bf14d40d-f260-4e27-8b63-65449cfedf31",
      "name": "Descargo la imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        0
      ]
    },
    {
      "parameters": {
        "title": "Prueba Test Post",
        "additionalFields": {
          "content": "Contenido del post",
          "status": "draft",
          "categories": [
            2
          ]
        }
      },
      "id": "49814860-35f2-4ec6-903c-056b9e95b189",
      "name": "Creo un post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "credentials": {
        "wordpressApi": {
          "id": "BqO0sfw8PfUOFcve",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eccentric-textbook.localsite.io/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-disposition",
              "value": "=attachment; filename={{ $json.title.rendered }}.{{ $binary.data.fileExtension }}"
            },
            {
              "name": "content-type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "b1c59608-be57-474d-b599-e95ec9370b34",
      "name": "Subo la imagen a Wordpress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        0
      ],
      "credentials": {
        "wordpressApi": {
          "id": "BqO0sfw8PfUOFcve",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://eccentric-textbook.localsite.io/wp-json/wp/v2/posts/{{ $('Creo un post').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4c3c778e-1d26-4c75-b7a9-7685f4aa8e0b",
      "name": "Asigno imagen a post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ],
      "credentials": {
        "wordpressApi": {
          "id": "BqO0sfw8PfUOFcve",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-05T08:51:33.443Z",
      "updatedAt": "2025-09-05T08:51:33.443Z",
      "role": "workflow:owner",
      "workflowId": "nBvIUoa7WE3ByBBw",
      "projectId": "wxi7Ju6brgdObMVS"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-21T11:25:19.532Z",
      "updatedAt": "2025-08-21T11:25:19.532Z",
      "id": "TGCYRPUd9n8yo2cB",
      "name": "📒clase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-05T11:20:16.000Z",
  "versionId": "4feea3bf-61eb-4239-91d4-588eb7e474a2"
}