workflows/2025-09-05T18-11-44-459Z.json

{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-22T08:35:01.649Z",
  "id": "jtqU5m4dAI02aWY5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Prueba If y Switch",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        -16
      ],
      "id": "42a22463-9ff5-41f1-9296-b269a26132e8",
      "name": "When chat message received",
      "webhookId": "86d85b70-5331-43a5-884b-e2b32436091a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f8988db9-ce79-4292-bca0-fb3a69f7c250",
              "leftValue": "={{ $json.chatInput }}",
              "rightValue": "Ho",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -128
      ],
      "id": "80330602-a77b-4c33-b92c-ee91c2725905",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Hola",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a0a4928-00c5-4229-a246-84f90011663e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saludo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71845e14-6ab7-4d20-a004-b9aadb29b700",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Adios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Despedida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef9c37e6-18ed-43a0-b364-35b9753ff751",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "Hola",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Indefinido"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        80
      ],
      "id": "d0a57d04-ea74-47c0-acb6-1b8bb1b0a5cb",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "1107921932",
        "text": "¡Hola como estas!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -224
      ],
      "id": "4a5816b3-c2b4-48fd-85a5-b5d47351a40b",
      "name": "Send a text message",
      "webhookId": "bba544a9-554f-4a9e-b85b-218394a4e2e8",
      "credentials": {
        "telegramApi": {
          "id": "mUTZgGx65j0KWDC9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1107921932",
        "text": "¡Hasta luego!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -96
      ],
      "id": "4e39e085-6caa-44c4-863a-f8834cc9abf9",
      "name": "Send a text message1",
      "webhookId": "bba544a9-554f-4a9e-b85b-218394a4e2e8",
      "credentials": {
        "telegramApi": {
          "id": "mUTZgGx65j0KWDC9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1107921932",
        "text": "No se que me quieres decir",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        16
      ],
      "id": "38bd91d8-045a-4128-8033-28b0500ce8c0",
      "name": "Send a text message2",
      "webhookId": "bba544a9-554f-4a9e-b85b-218394a4e2e8",
      "credentials": {
        "telegramApi": {
          "id": "mUTZgGx65j0KWDC9",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-22T08:35:01.654Z",
      "updatedAt": "2025-08-22T08:35:01.654Z",
      "role": "workflow:owner",
      "workflowId": "jtqU5m4dAI02aWY5",
      "projectId": "wxi7Ju6brgdObMVS"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-21T11:25:19.532Z",
      "updatedAt": "2025-08-21T11:25:19.532Z",
      "id": "TGCYRPUd9n8yo2cB",
      "name": "📒clase"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-22T08:54:10.000Z",
  "versionId": "0ce7525a-eb81-4eee-9fa4-bc9bad2510d3"
}